
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  font-family: "Open-Sans", sans-serif;
  color: #5f6c7b;
  background-color: #fffffe;
}

main {
  flex: 1;
}

h1, h2, h3 {
  color: #094067;
}

#main-header h1 {
  color: #ffffff;
}

#main-header {
  background-color: #3da9fc;
  color: #ffffff;
  text-align: center;
  padding: 2rem 5%;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #3da9fc;
  border: 1px solid #3da9fc;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: #3da9fc;
}

.btn:hover {
  background-color: #0770c1;
  border-color: #0770c1;
}

.btn-alt:hover {
  background-color: #bbe1fe;
  border-color: transparent;
}

footer{
  background-color: #3da9fc;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

footer p, a {
  color: #ffffff;
  text-decoration: none;
}

footer p {
  margin: 0 2.5rem;
}

@media (max-width:  48rem) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer p {
    margin-bottom: 1rem;
  }
}
